<!DOCTYPE html>
<html>
  <head>
    <title><%= title.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/javascripts/index.js"></script>

  </head>
  <body>
    <h1><%= title.name %></h1>
    <p>Welcome to <%= title.name %></p>
    <button class="button">按钮</button>
  </body>
</html>
