*{
  padding:0;
  margin:0;
  line-height: 1;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f7f7f9;
}
.nav{
  background: #fff;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 0px 12px 0px
  rgba(102, 102, 102, 0.27);
}
.nav a{
  line-height: 60px;
  padding:0 20px;
  color: #333;
}
.nav a.active{
  color: #0075fd;
}
.content{
  padding:20px;
}
table td{
  background: #fff;
}
table th{
  background: #ecf1f4;
}
button{
  border: none;
  line-height: 24px;
}